html {
    min-height: 100vh;
}

body {
    display: grid;
    margin: 0%;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 44, 131);    
}

.navegacoes{
    display: flex;
    justify-content: space-between;
}

.navegacao ul{
    display: flex;
    list-style: none;
    padding: 10px;
}

.navegacao li {
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
}

