* {
    margin: 0%;
    padding: 0%;
}

html {
    min-height: 100vh;
}

body {
    height: 100%;
    font-size: 1.2em;
}

li {
    list-style: none;
    margin-top: 10px;
}

.cabecalho img{
    height: 80%;
    margin-top: 8px;
}

.navegacoes {
    display: flex;
    justify-content: space-between;    
}


.cabecalho {
    height: 80px;
    background-color: #444;
    border-bottom: solid aquamarine;
    box-sizing: border-box;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 15px;  
}

.navegacoes ul {
    display: flex;
}

.cabecalho ul {
    margin-top: 15px;
    
}

.cabecalho a:hover{
    color: black;
    background-color: rgb(148, 223, 198);
    border-radius: 5px;
}

.navegacao {
    position: absolute;
    top: 0px;
    left: 35%;
}

.autenticacao {
    position: absolute;
    top: 0px;
    right: 10px;
}
